@model Vidly.ViewModels.CustomerViewModel

@{
    ViewBag.Title = "Customer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

@if (Model.Custom.Count==0)
{
    <p>no customers at the moment</p>
}
else
{

<ul>
    @foreach (var cust in Model.Custom)
    {

        var id=cust.Id;
        <li> @Html.ActionLink(@cust.Name, $"Details/{ id}", "Customers")</li>
    }
</ul>
}
<p>this works fine</p>
